[submodule "pack/original/start/LeaderF"]
	path = pack/original/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF
[submodule "pack/original/start/asyncrun.vim"]
	path = pack/original/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "pack/original/start/ListToggle"]
	path = pack/original/start/ListToggle
	url = https://github.com/Valloric/ListToggle
[submodule "pack/forked/start/minibufexpl.vim"]
	path = pack/forked/start/minibufexpl.vim
	url = https://github.com/shawnvim/minibufexpl.vim
[submodule "pack/original/start/nerdtree"]
	path = pack/original/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/original/start/QFGrep"]
	path = pack/original/start/QFGrep
	url = https://github.com/sk1418/QFGrep
[submodule "pack/forked/start/quickfix-reflector.vim"]
	path = pack/forked/start/quickfix-reflector.vim
	url = https://github.com/shawnvim/quickfix-reflector.vim
[submodule "pack/original/start/rainbow_csv"]
	path = pack/original/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv
