[submodule "pack/original/start/LeaderF"]
	path = pack/original/start/LeaderF
	url = https://github.com/Yggdroot/LeaderF
[submodule "pack/original/start/asyncrun.vim"]
	path = pack/original/start/asyncrun.vim
	url = https://github.com/skywind3000/asyncrun.vim
[submodule "pack/original/start/ListToggle"]
	path = pack/original/start/ListToggle
	url = https://github.com/Valloric/ListToggle
[submodule "pack/forked/start/minibufexpl.vim"]
	path = pack/forked/start/minibufexpl.vim
	url = https://github.com/shawnvim/minibufexpl.vim
[submodule "pack/original/start/nerdtree"]
	path = pack/original/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule "pack/original/start/QFGrep"]
	path = pack/original/start/QFGrep
	url = https://github.com/sk1418/QFGrep
[submodule "pack/forked/start/quickfix-reflector.vim"]
	path = pack/forked/start/quickfix-reflector.vim
	url = https://github.com/shawnvim/quickfix-reflector.vim
[submodule "pack/original/start/rainbow_csv"]
	path = pack/original/start/rainbow_csv
	url = https://github.com/mechatroner/rainbow_csv
[submodule "pack/original/start/vim-cursorword"]
	path = pack/original/start/vim-cursorword
	url = https://github.com/itchyny/vim-cursorword
[submodule "pack/original/start/vim-fugitive"]
	path = pack/original/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "pack/original/start/vim-gutentags"]
	path = pack/original/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "pack/original/start/vim-interestingwords"]
	path = pack/original/start/vim-interestingwords
	url = https://github.com/lfv89/vim-interestingwords
[submodule "pack/original/start/vim-peekaboo"]
	path = pack/original/start/vim-peekaboo
	url = https://github.com/junegunn/vim-peekaboo
[submodule "pack/forked/start/vim-quickui"]
	path = pack/forked/start/vim-quickui
	url = https://github.com/shawnvim/vim-quickui
[submodule "pack/original/start/vim-rhubarb"]
	path = pack/original/start/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule "pack/original/start/vim-rooter"]
	path = pack/original/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule "pack/forked/start/gruvbox"]
	path = pack/forked/start/gruvbox
	url = https://github.com/shawnvim/gruvbox
[submodule "pack/forked/start/markdown-preview.nvim"]
	path = pack/forked/start/markdown-preview.nvim
	url = https://github.com/shawnvim/markdown-preview.nvim
[submodule "pack/original/start/vim-erlang-tagjump"]
	path = pack/original/start/vim-erlang-tagjump
	url = https://github.com/shawnvim/vim-erlang-tagjump
[submodule "pack/forked/start/fugitive-gerrit.vim"]
	path = pack/forked/start/fugitive-gerrit.vim
	url = https://github.com/shawnvim/fugitive-gerrit.vim
[submodule "pack/forked/start/vim-ttcn"]
	path = pack/forked/start/vim-ttcn
	url = https://github.com/shawnvim/vim-ttcn
[submodule "pack/forked/start/vim-move"]
	path = pack/forked/start/vim-move
	url = https://github.com/shawnvim/vim-move
[submodule "pack/forked/start/vim-commentary"]
	path = pack/forked/start/vim-commentary
	url = https://github.com/shawnvim/vim-commentary
[submodule "lib/lua-filters"]
	path = lib/lua-filters
	url = https://github.com/pandoc/lua-filters
[submodule "pack/original/start/vim-visual-multi"]
	path = pack/original/start/vim-visual-multi
	url = https://github.com/mg979/vim-visual-multi
[submodule "pack/original/start/undotree"]
	path = pack/original/start/undotree
	url = https://github.com/mbbill/undotree
